<mat-toolbar color="primary">
  <h2>Animal adoption</h2>

</mat-toolbar>
<mat-divider></mat-divider>
<mat-toolbar color="primary">
  <button mat-button routerLink="/">
    <mat-icon aria-hidden="false" >home</mat-icon>
  </button>
  <button mat-button routerLink="/users"> <mat-icon aria-hidden="false">account_circle</mat-icon></button>
 <!-- <button mat-button routerLink="">Set Meeting</button>-->
  <!--<button mat-button routerLink="">Shelter</button>
  <button mat-button routerLink="">Contracts</button>-->
  <button mat-button routerLink="/about">About</button>
  <button mat-button routerLink="/donate">Donate</button>
</mat-toolbar>
<router-outlet></router-outlet>

