<!--<div class="container" style="padding: 13px;" >
  <h1>Adopt Animal</h1>
  &lt;!&ndash;<form #animalForm="ngForm" (ngSubmit)="onSubmit()">&ndash;&gt;
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Date</mat-label>
        <input matInput type="text" required [(ngModel)]="" name="Date">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Contract</mat-label>
        <input matInput type="number" [(ngModel)]="" name="contract">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>User</mat-label>
        <input matInput type="text" [(ngModel)]="" >
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Animal</mat-label>
        <input matInput type="text" [(ngModel)]="" name="animal">
      </mat-form-field>
    </div>

    <div class="form-group">
      <button class="btn btn-success"
              type="submit" >Submit</button>
    </div>


</div>-->
